<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <package android:name="com.whatsapp"/><package android:name="com.whatsapp.w4b"/><package android:name="com.obwhatsapp"/><package android:name="com.gbwhatsapp"/><package android:name="com.yowhatsapp"/>
        <intent><action android:name="android.intent.action.VIEW"/><data android:scheme="https"/></intent>
    </queries>
    <application android:allowBackup="true" android:label="Al-othmany Sender" android:theme="@style/AppTheme" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
        <service android:name=".SenderAccessibilityService" android:label="Al-othmany Sender" android:exported="false" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService"/></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config"/>
        </service>
    </application>
</manifest>
